.nav-tabs {
    display: flex;
    flex-direction: column !important;
    width: 15%;
    position: fixed;
    top: 180px;
    left: 450px;
}

@media only screen and (max-width: 868px) {
    .d-flex {
        flex-direction: column;
    }

    .nav-tabs {
        width: 100%;
        flex-direction: row !important;
    }

    .list-group .d-flex {
        flex-direction: row;
    }

    .row {
        gap: 15px;
    }
    .nav.nav-tabs 
    {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }
      
}